<!-- SIDENAV HEADER -->
<header class="nav-header">
  <div layout-align="center center" layout="row">
    <h3>SELECT A CONTROLLER</h3>
  </div>
</header>
<div id="menu-container">
  <ul>
    <li ui-sref="joypad" ng-click="diddyborg.toggleSidenav('left')" class="cursor"><md-icon>videogame_asset</md-icon><span>Joypad</span></li>
    <li ui-sref="keyboard" ng-click="diddyborg.toggleSidenav('left')" class="cursor"><md-icon>keyboard</md-icon><span>Keyboard</span></li>
    <li ui-sref="touch" ng-click="diddyborg.toggleSidenav('left')" class="cursor"><md-icon>tablet</md-icon><span>Touch</span></li>
  </ul>
</div>
<!-- END SIDENAV HEADER -->
